
<!--
File: base.html
Description: Provides a base for all other HTML files with style information, a header, and nav bar
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-04-03
-->

{% load static %}
<html>
    <head>
        <title>Voter Analytics</title>
        <link rel="stylesheet" href="{% static 'voter_analytics/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Voter Analytics</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Show Voter List</a></li>
                    <li><a href="{% url 'graphs' %}">Show Graphs</a>
                    </li>
                </ul>

            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>