
/*
File: styles.css
Description: Provides styling to all HTML files in project.
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-04-14
*/

body {
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS';
}

table {
    font-size: 18px;
    text-align: left;
    border-collapse: collapse;

}

tr, td {
    padding: 5pt;
    border: 2px solid black;
    white-space: nowrap;

}

nav {
    justify-self: right;
    background-color: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

button {
    color: black;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    border: 2px solid black;
    margin-top: 10px;
    padding: 2px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    font-size: medium;
    font-family: 'Trebuchet MS';
    cursor: pointer;

}

button:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

a, a:visited {
    color: black;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    border: 2px solid black;
    margin-top: 10px;
    padding: 2px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;

}

a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

input[type="submit"] {
    color: black;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    border: 2px solid black;
    padding: 4px;
    margin-top: 5px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}


h1,h3,h4,h5{
    font-weight: normal;
    margin: 0;
}


body {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px auto;
}

footer {
    margin-top: 30pt;
    width: 100%;
    bottom: 0px;
}

.logout-form {
    display: inline;
}
