<!--
File: base.html
Description: Base template for the project, includes navigation and header.
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-04-14
-->

<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> Project </title>

        <link rel="stylesheet" href="{% static 'project/styles.css' %}">
    </head>

    <body>
        <header>    
            <nav>
                {% if request.user.is_authenticated %}
                <a href="{% url 'show_wardrobe' %}">Wardrobe</a> | 

                <a href="{% url 'project_show_profile' request.user.proj_profile.pk %}">My Profile</a> |

                <a href="{% url 'create_clothing_item' %}">Add Clothes</a> |

                <a href="{% url 'event_list' %}">Events</a> |

                <!-- logout doesn't work with GET (so can't use anchor tag), must create form with POST -->
                <form action="{% url 'project_logout' %}" method="POST" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'project_login' %}">Login</a>
                {% endif %}

    
    
            </nav>
    
            {% if request.user.is_authenticated %}
            Logged in as: {{request.user}} <br><br>
            {% else %}
            Not logged in. <br><br>
            {% endif %}

        </header>


        {% block content %}
        {% endblock %}
        
    </body>
</html>