<!--
File: create_outfit_custom.html
Description: Template used to render the form shown to users for creating an outfit.
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-04-15
-->

{% extends 'project/base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
  
    <label>Outfit Name:</label><br>
    <input type="text" name="name"><br><br>
  
    <label>Notes:</label><br>
    <textarea name="notes"></textarea><br><br>

    <label>Season:</label>
    <select name="season">
      <option value="">-- Select a season --</option>
      {% for value, label in seasons %}
        <option value="{{ value }}">{{ label }}</option>
      {% endfor %}
    </select>
    <br><br>

    <label>Occasion:</label>
    <select name="occasion">
      <option value="">-- Select an occasion --</option>
      {% for value, label in occasions %}
        <option value="{{ value }}">{{ label }}</option>
      {% endfor %}
    </select>
    <br><br>

    <label for="event">Assign to Event:</label>
    <select name="event" id="event">
      <option value="">-- Select an event --</option>
      {% for event in rsvp_events %}
        <option value="{{ event.id }}">{{ event.title }} - {{ event.date|date:"M d" }}</option>
      {% endfor %}
    </select>
    <br><br>

    <label>Hat:</label><br>
    {% for item in hats %}
      <label style="display:inline-block; text-align:center; margin:10px;">
        <input type="radio" name="hat" value="{{ item.id }}">
        <br>
        <!-- display all images for users to choose from -->
        <img src="{{ item.image_file.url }}" alt="{{ item.brand }}" style="height: 100px;">
        <br>
        {{ item.brand }} ({{ item.category }})
      </label>
    {% endfor %}
    <br><br>
  
    <label>Jacket:</label><br>
    {% for item in jackets %}
      <label style="display:inline-block; text-align:center; margin:10px;">
        <input type="radio" name="jacket" value="{{ item.id }}">
        <br>
        <img src="{{ item.image_file.url }}" alt="{{ item.brand }}" style="height: 100px;">
        <br>
        {{ item.brand }} ({{ item.category }})
      </label>
    {% endfor %}
    <br><br>
  
    <label>Shirt:</label><br>
    {% for item in shirts %}
      <label style="display:inline-block; text-align:center; margin:10px;">
        <input type="radio" name="shirt" value="{{ item.id }}">
        <br>
        <img src="{{ item.image_file.url }}" alt="{{ item.brand }}" style="height: 100px;">
        <br>
        {{ item.brand }} ({{ item.category }})
      </label>
    {% endfor %}
    <br><br>
  
    <label>Bottoms:</label><br>
    {% for item in bottoms %}
      <label style="display:inline-block; text-align:center; margin:10px;">
        <input type="radio" name="bottoms" value="{{ item.id }}">
        <br>
        <img src="{{ item.image_file.url }}" alt="{{ item.brand }}" style="height: 100px;">
        <br>
        {{ item.brand }} ({{ item.category }})
      </label>
    {% endfor %}
    <br><br>
  
    <label>Shoes:</label><br>
    {% for item in shoes %}
      <label style="display:inline-block; text-align:center; margin:10px;">
        <input type="radio" name="shoes" value="{{ item.id }}">
        <br>
        <img src="{{ item.image_file.url }}" alt="{{ item.brand }}" style="height: 100px;">
        <br>
        {{ item.brand }} ({{ item.category }})
      </label>
    {% endfor %}
    <br><br>
    <input type="hidden" name="form_type" value="create_outfit">
    <button type="submit">Create Outfit</button>
    <a href="{% url 'show_wardrobe' %}" class="cancel-button">Cancel</a>

    
  </form>

{% endblock %}
