<!--
File: search.html
Description: Template to search through clothing items in the wardrobe.
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-04-29
-->

<table>
    <!-- Category -->
    <!-- Brand -->
    <!-- Color -->
    <!-- Season -->
    <tr>
        <th>Category:</th>
        <td>
            <select name="category">
                <option value="">Any</option>
                {% for c, x in categories %}
                    <!-- if statements are so that if something is selected it will remain even after a submit -->
                    <option value="{{ c }}" {% if request.GET.category == c %}selected{% endif %}>{{ c }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
        <th>Brand:</th>
        <td>
            <select name="brand">
                <option value="">Any</option>
                {% for b in brands %}
                    <option value="{{ b }}" {% if request.GET.brand == b %}selected{% endif %}>{{ b }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>

    <tr>
        <th>Color:</th>
        <td>
            <select name="color">
                <option value="">Any</option>
                {% for c in colors %}
                    <option value="{{ c }}" {% if request.GET.color == c %}selected{% endif %}>{{ c }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>

    <tr>
        <th>Season:</th>
        <td>
            <select name="season">
                <option value="">All Year</option>
                {% for val, s in seasons %}
                    <!-- don't display all_year since it all year is essentially anything -->
                    {% if val != "all_year" %}
                        <option value="{{ val }}" {% if request.GET.season == val %}selected{% endif %}>{{ s }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
    </tr>

    <tr>
        <td><input type="submit" value="Search"></td>
    </tr>

</table>