<!-- 
File: main.html
Description: HTML file for the main page that contains name, location, hours of operation (displayed as a list or table), and one photo
Author: Jed Tan
Email: jctan@bu.edu
Phone number: 919-619-1528
Year and major: Senior Computer Science
Date Created: 2025-02-11
Last Modified: 2025-02-14
-->

{% extends 'restaurant/base.html' %}

{% block content %}
{% load static %}

<h2>Welcome!</h2>
<h3>📍 Location: 52 Ashford St Allston, MA</h3>
<img src="{% static 'restaurant/restaurant.jpg' %}" height="400pt">
<h3>Hours of Operation:</h3>
<table>
    <tr>
        <th>Day</th>
        <th>Hours</th>
    </tr>
    <tr>
        <td>Mon - Fri</td>
        <td>8 AM - 11 PM</td>
    </tr>
    <tr>
        <td>Sat</td>
        <td>Closed</td>
    </tr>
    <tr>
        <td>Sun</td>
        <td>11 AM - 8 PM</td>
    </tr>
</table>

{% endblock %}