
/*
File: styles.css
Description: Adds styling to the HTML files: base.html, confirmation.html, main.html, order.html
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-02-11
Last Modified: 2025-02-14
*/

body {
    background-color: white;
    color: darkred;
    font-family: 'Trebuchet MS';
}

table {
    width: 30%;
    font-size: 18px;
    text-align: left;
}

nav {
    justify-self: left;
    color: darksalmon;
    background-color: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

a, a:visited {
    color: darkred;
    text-decoration: none;
}

a:hover {
    color: darksalmon;
    text-decoration: none;
    background-color: white;
}


h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
    background-color: lightpink;
}


body {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px auto;
}

footer {
    margin-top: 30pt;
    width: 100%;
    bottom: 0px;
}

