<!--
File: base.html
Description: Provides a base for all other HTML files with style information, a header, nav bar, and a footer
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-02-16
Last Modified: 2025-03-02s
-->

{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>

        <link rel="stylesheet" href="{% static 'mini_fb/styles.css' %}">
    </head>
    <body>
        <header>

            <nav>
                <a href="{% url 'show_all_profiles' %}">Home</a> |
                <a href="{% url 'create_profile' %}">Create Profile</a>

            </nav>
            <h1>Mini Facebook</h1>

        </header>
            
        {% block content %}
        {% endblock %}
        
        <footer>
            Page created by jctan@bu.edu <br>
        </footer>

    </body>
</html>
