<!--
File: login.html
Description: Template to display the login page.
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-03-25
Last Modified: 2025-03-25
-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Login to Mini Facebook</h1>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Login">

    <!-- if a user tries to create/update/delete while not logged in they will be redirected to login -->
    <!-- after logging in, they should be redirected back to that screen -->
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    {% else %}
    <!-- otherwise, after successful login, redirect to profile page -->
     <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
    {% endif %}
</form>
{% endblock %}

