<!--
File: show_profile.html
Description: Displays single profile.
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-02-16
Last Modified: 2025-03-21
-->

{% extends 'mini_fb/base.html' %}

{% block content %}


    <main>
        <a href="{% url 'news_feed' profile.pk %}">News Feed</a>
        
        <h2>{{profile.first_name}} {{profile.last_name}}</h2>
        <table>

            <tr>
                {% if profile.image_file %}
                <img src="{{profile.image_file.url}}" alt="" height="500px">
                {% else %}
                <h3>No image</h3>
                {% endif %}
            </tr>
            <tr><li>{{profile.city}}</li></tr>
            <tr><li>{{profile.email}}</li></tr>

            <!-- Display all status messages for this profile -->
             <br>
             <h3>{{profile.first_name}}'s status messages</h3>
             <a href="{% url 'update_profile' profile.pk %}">Update Profile</a> | 
             <a href="{% url 'create_status' profile.pk %}">Create Status Message</a>
             <!-- for loop to display all status messages for this profile -->
             {% for status in profile.get_status_messages %}
             <div>
                <p>
                    <strong>{{status.message}}</strong> <i>at {{status.timestamp}}</i>
                    <br>
                    
                    <!-- get the Image objects -->
                    {% for img in status.get_images %}
                    <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}' height="200px">
                    <!-- link to delete comments -->
                    {% endfor %}
                    <br>
                    <a href="{% url 'delete_status' status.pk %}"> Delete</a>

                    <!-- link to update comments -->
                     | <a href="{% url 'update_status' status.pk %}"> Update</a>
                </p>
             </div>

             {% endfor %}

             <!-- Display all of the friends for this profile -->
             <div>
                <h3>{{profile.first_name}}'s friends</h3>
                <table>
                    <!-- for loop thru the list of friends (profiles) that get_friends() returns -->
                    {% for friend in profile.get_friends %}
                        <td>
                            {{friend.first_name}} {{friend.last_name}} 
                            <br>
                            <a href="{% url 'show_profile' friend.pk %}">
                                <img src="{{friend.image_file.url}}" height="200px">
                            </a>
                        </td>
                    {% endfor %}
                </table>

                <!-- button to link to friend suggestions page -->
                <a href="{% url 'friend_suggestions' profile.pk %}">Friend Suggestions</a>

             </div>

        </table>

    <main>

{% endblock %}
