<!--
File: update_status_form.html
Description: Template used to update StatusMessage object.
Author: Jed Tan
Email: jctan@bu.edu
Date Created: 2025-03-04
Last Modified: 2025-03-04
-->

{% extends 'mini_fb/base.html' %}

{% block content %}
    <h1>Create a new profile</h1>
    <!-- action is for where we send the inputted data after submission, so we send it back to CreateProfileView using the url function -->
    <form action="{% url 'update_status' statusmessage.pk %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <table>
            {{form.as_table}}
        </table>


        <input type="submit" name="submit" value="Update"> <br>
        <form action="{% url 'show_profile' statusmessage.profile.pk %}" method="GET">
            <input type="submit" value="Cancel">
        </form>

    </form>


{% endblock %}

